@keyframes desvanecer {
    0% { opacity: 0;}
    30% { opacity: 1}
    80% {opacity: 1;}
    100% {opacity: 0;}
    
}


.tamaño {
    font-size: 20px;
}
.dark-border {
    border-color: #343a40;
}

.fake-toast {
    width: 350px;
    max-width: 100%;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    position:fixed;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    animation-name: desvanecer;
    animation-duration: 3s;
}