<nav class="navbar bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand fs-6 me-auto" href="#">
        <img src="./assets/img/APLogo.png" alt="" width="80" height="40" class="d-inline-block align-text-center">
        <div class="d-lg-inline d-none p-2 py-4">Argentina programa - #YoProgramo</div>
      </a>
      
      <ul class="nav nav-pills d-lg-flex align-items-center d-none">
        <li class="nav-item">
          <a class="nav-link" href="#inicio"><i class="bi bi-house pe-1"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#educacion"><i class="bi bi-book pe-1"></i> Educacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills"><i class="bi bi-boxes pe-1"></i> Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto"><i class="bi bi-person-circle pe-1"></i> Contacto</a>
        </li>
      </ul>
      
      <a *ngIf="!authService.logIn" type="button" class="btn btn-success px-3 py-1 btn-sm ms-3" data-bs-toggle="modal" data-bs-target="#loginModal">
        <i class="bi bi-box-arrow-in-right pe-2"></i>Iniciar sesión
      </a>
      <a *ngIf="!authService.logIn" type="button" class="btn btn-outline-light px-3 py-1 btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#signupModal">
        <i class="bi bi-pencil-square pe-2"></i>Registrarse
      </a>      
      <a *ngIf="authService.logIn" type="button" routerLink="/perfil/mi-cuenta" aria-current="page" class="btn btn-success pe-3 py-1 btn-sm ms-2"><i class="bi bi-person px-1"></i>Mi perfil</a>
      <a *ngIf="authService.logIn" type="button" (click)="authService.logout()" class="btn btn-outline-light pe-3 py-1 btn-sm ms-2"><i class="bi bi-box-arrow-left px-1"></i> Cerrar sesion</a>
    </div>
  </nav>